body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header {
  text-align: center;
}
image {
  display: block;
  justify-content: center;
  
}
a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}
figcaption {
  font-size: small;
  text-align: center;
  display: block;
}
p {
  width: 800px;
  text-align: center;
  display: block;
  align-content: center;
}
div {
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
}
